<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="medical-title">Mis Citas Médicas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="close-btn" color="danger" fill="clear">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="medical-bg">
  @if (isLoading) {
    <div class="state-container">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <p>Sincronizando agenda...</p>
    </div>
  } @else if (appointments.length > 0) {
    <div class="appointments-container ion-padding">
      @for (cita of appointments; track cita.id) {
        <div class="appointment-card results-fade-in" [class.cancelled-card]="cita.status !== 'scheduled'">
          
          <div class="date-side">
            <span class="month">{{ cita.date | date:'MMM' | uppercase }}</span>
            <span class="day">{{ cita.date | date:'dd' }}</span>
            <span class="time">{{ cita.time }}</span>
          </div>

          <div class="info-side">
           <div class="status-row">
  @if (cita.status === 'scheduled') {
    <ion-badge color="success" class="status-badge">Confirmada</ion-badge>
  } @else if (cita.status === 'expired') {
    <ion-badge color="warning" class="status-badge">Expirada</ion-badge>
  } @else {
    <ion-badge color="medium" class="status-badge">Finalizada</ion-badge>
  }
</div>

            <div class="doctor-detail">
              <h3>{{ cita.doctor }}</h3>
              <p class="specialty-text">{{ cita.specialty }}</p>
            </div>

            @if (cita.status === 'scheduled') {
              <div class="actions-row">
                <ion-button fill="clear" color="danger" (click)="confirmarCancelacion(cita)" class="btn-cancel-mini">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                  Cancelar cita
                </ion-button>
              </div>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="state-container">
      <div class="empty-icon-box">
        <ion-icon name="calendar-clear-outline"></ion-icon>
      </div>
      <h3>Sin citas próximas</h3>
      <p>Tus citas agendadas aparecerán aquí para que lleves un mejor control.</p>
    </div>
  }
</ion-content>