<div class="options-container">
  <ion-row class="ion-justify-content-center">
    
    <ion-col size="auto">
      <ion-button fill="solid" class="option-btn" (click)="onSelect('hospitals')">
        <ion-icon slot="start" name="business-outline"></ion-icon>
        Hospitales
      </ion-button>
    </ion-col>

    <ion-col size="auto">
      <ion-button fill="solid" class="option-btn" (click)="onSelect('doctors')">
        <ion-icon slot="start" name="medkit-outline"></ion-icon>
        Médicos
      </ion-button>
    </ion-col>

  </ion-row>
</div>