<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-white profile-title">Mi Expediente Digital</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="ion-text-white" color="danger" fill="clear">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profile-bg">
  @if (userProfile) {
    <div class="profile-container results-fade-in">
      
      <div class="avatar-header-section">
        <div class="avatar-circle">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <h2>{{ userProfile?.name }}</h2>
        <ion-text color="medium"><p>Usuario ANAasis</p></ion-text>
      </div>

      <div class="info-section">
        
        <div class="info-card info-card-phone">
          <div class="card-header">
            <ion-icon name="call-outline"></ion-icon>
            <h3>Teléfono Registrado</h3>
          </div>
          <div class="card-body">
            <h3>{{ userProfile?.phone }}</h3>
          </div>
        </div>

        <div class="info-card info-card-status">
          <div class="card-header">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
            <h3>Estado de Cuenta</h3>
          </div>
          <div class="card-body">
            <h3>Activa</h3>
          </div>
        </div>

      </div>

    </div>

    <div class="action-section">
      <ion-button expand="block" color="danger" fill="outline" (click)="logout()" class="logout-btn">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        CERRAR MI SESIÓN SECURE
      </ion-button>
    </div>
  } @else {
    <div class="no-profile-container ion-text-center results-fade-in">
      <div class="ana-avatar-placeholder">
        <img src="assets/ana2.png" alt="ANAasis">
      </div>
      <h2>¡Aún no te conozco!</h2>
      <p>Aún no estás registrado en mi sistema médico digital.</p>
      <div class="instruction-box">
        <ion-icon name="chatbubbles-outline" color="primary"></ion-icon>
        <p>Dile a <b>ANAasis</b>: <i>"Quiero registrarme"</i> para poder agendar tus citas y cuidar de tu salud.</p>
      </div>
      
      <ion-button expand="block" color="success" (click)="dismiss()" class="ion-margin-top understood-btn">
        ENTENDIDO
      </ion-button>
    </div>
  }
</ion-content>