<div class="message-wrapper bot-wrapper results-fade-in">
  <div class="bot-card-container">
    
    <div class="bot-avatar-box">
      <div class="avatar-inner">
        <ion-icon name="medical-outline"></ion-icon>
      </div>
    </div>

    <div class="bot-message-content">
      <div class="bot-header">
        <div class="bot-name-tag">
          <h3>ANAasis</h3>
          <div class="status-dot"></div>
        </div>
        
        <ion-badge 
          [color]="isMuted ? 'medium' : 'primary'" 
          mode="ios" 
          (click)="onMuteClick()" 
          class="voice-badge">
          <ion-icon [name]="isMuted ? 'volume-mute' : 'volume-high'"></ion-icon>
          <span>{{ isMuted ? 'Silenciado' : 'Voz activa' }}</span>
        </ion-badge>
      </div>
      
      <p><ng-content></ng-content></p>
    </div>

  </div>
</div>