<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Crear mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ana-intro">
    <p>¡Hola! Soy <b>ANAasis</b>. Ayúdame con tus datos para poder cuidarte mejor.</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item lines="outline" class="custom-input">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Ej. Juan Pérez"></ion-input>
    </ion-item>

    <ion-item lines="outline" class="custom-input">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label position="floating">Teléfono (10 dígitos)</ion-label>
      <ion-input formControlName="phone" type="tel" maxlength="10" placeholder="9511234567"></ion-input>
    </ion-item>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="submit-btn">
        REGISTRARME AHORA
      </ion-button>
    </div>
  </form>
  <div class="ion-text-center ion-padding-top">
  <p (click)="goToLogin()" style="color: var(--ion-color-primary); cursor: pointer; font-size: 0.9em;">
    ¿Ya tienes una cuenta? <b>Inicia sesión aquí</b>
  </p>
</div>
</ion-content>