<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-white register-title">Crea tu Expediente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="ion-text-white" color="danger" fill="clear">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding register-bg">
  <div class="ana-welcome-section results-fade-in">
    <div class="ana-avatar">
      <img src="assets/ana2.png" alt="ANAasis">
    </div>
    <div class="ana-bubble">
      <p>¡Hola! Soy <b>ANAasis</b>. Ayúdame con tus datos para poder cuidarte mejor de ahora en adelante.</p>
    </div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form results-fade-in">
    <div class="input-wrapper">
      <ion-label>Nombre Completo</ion-label>
      <ion-item lines="none" class="custom-item">
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        <ion-input formControlName="name" type="text" placeholder="Ej. Juan Pérez"></ion-input>
      </ion-item>
    </div>

    <div class="input-wrapper">
      <ion-label>Teléfono Móvil</ion-label>
      <ion-item lines="none" class="custom-item">
        <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
        <ion-input formControlName="phone" type="tel" maxlength="10" placeholder="951 123 4567"></ion-input>
      </ion-item>
    </div>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="submit-btn main-shadow">
        REGISTRARME AHORA
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>

  <div class="ion-text-center ion-padding-top login-footer">
    <p (click)="goToLogin()">
      ¿Ya tienes una cuenta? <b>Inicia sesión aquí</b>
    </p>
  </div>
</ion-content>